requests==2.34.2
rich_gradient==0.3.11
discord.py-self==2.1.0
pyautogui==0.9.54
pillow==12.0.0
numpy==2.2.6
pyscreeze==0.1.29
opencv-python==4.12.0.88
twocaptcha
2captcha-python==2.0.6
python-socketio[client]
camoufox
apscheduler